/* link to import the fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Courgette&family=Grand+Hotel&family=Lobster&family=Lobster+Two&family=Pacifico&family=Satisfy&display=swap');

/*
Use:  
font-family: 'Cookie', cursive;
font-family: 'Courgette', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive;
*/

/* html smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* body and all things inside body */
body, 
body * {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 0.5%;
    border-top-left-radius: 6vh;
    border-top-right-radius: 6vh;
    border-bottom-left-radius: 6vh;
    border-bottom-right-radius: 6vh;
}

body {
    background-image: url(../img/bg-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-size: cover;
}

p {
    font-family: 'Grand Hotel', cursive;
    font-size: 7vh;
    margin: 3vh;
}

.frost-bg {
    background-color: rgba(157, 161, 240, 0.308);
    backdrop-filter: blur(5px);
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#first-screen {
    background-image: url(../img/fg-part-1.jpg);
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#second-screen {
    background-image: url(../img/fg-part-2.jpg);
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#third-screen {
    background-image: url(../img/fg-part-3.jpg);
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#second-screen p {
    font-size: 4.5vh;
}

.next-button-div {
    height: 50vh;
}

.next-button-button {
    border-radius: 50%;
    border-style: none;
}

.next-button-img {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
}

.form-div {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0%;
    margin: 0%;
}

.form-div-inner {
    flex-direction: row;
    width: 80vh;
    padding: 0%;
    margin: 0.5%;
}

.user-label {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    width: 15vh;
    margin: 0%;
}

.user-input {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    margin: 0%;
}

input, select, option {
    font-family: 'Lobster Two', cursive;
    font-size: 3vh;
    width: 50vh;
    height: 5vh;
    border-radius: 5vh;
    border-style: none;
    background-color: rgba(231, 203, 248, 0.384);
    text-align: center;
    margin: 0%;
}

label {
    font-family: 'Lobster Two', cursive;
    font-size: 3vh;
    height: 5vh;
}


/* button animation */

/* next button rotating css */
/* COPIED FROM https://codepen.io/epjuan21/pen/QyELMw */
/* modified to some extend to suit the page */
/* .next-button {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.next-button-img {
    padding: 20px;
    display: block;
    font-size: 100px;
    transition: all 0.4s ease;
}

.next-button-img:hover {
    transform: rotateZ(90deg);
}

#next-submit-button:hover {
    transform: rotateZ(360deg);
    transition-duration: 00.5s;
}

/* Paragraph hover animation */

p:hover {
    transform: scale(1.04);
    background-color: rgba(231, 203, 248, 0.384);
    transition-duration: 00.5s;
}

/* label and input animation*/

label:hover,
input:hover,
select:hover,
option:hover {
    transform: scale(1.1);
    transition-duration: 00.5s;

}