/* change the body background */
body {
    background-image: url(../img/page1-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

/* change the body foreground
    or the panel in front of body */
#outer-div {
    background-image: url(../img/page1-fg.jpg);
}

/* change the frosted-glass effect color */
.frost-bg {
    background-color: rgba(131, 204, 192, 0.57);
    backdrop-filter: blur(5px);
}